<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'field form-control', placeholder: 'Email' %>
  </div>

  <div class="actions mt-3">
             <div class="row">
    <div class="col text-center">
    <%= f.submit "Resend unlock instructions", class:'btn btn-primary' %>
    <%= render "devise/shared/links" %>
    </div></div>
  </div>
<% end %>


